<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>购物车</title>
  </head>
  <body>
    <!-- 宿主文件 -->
    <div id="app">
      <h2 v-once :title="title">
        <!-- 插值文本 -->
        {{title}}
      </h2>
      <p>
        <input type="text" v-model="course" v-on:keydown.enter="addCourse" />
        <button @click="addCourse">新增</button>
      </p>
      <p v-if="courses.length == 0"> 没有课程信息 </p>
      <!-- 列表渲染-->
      <!-- <div v-for="c in courses" :key="c" :class="{active: selectedCourse === c}" @click="selectedCourse = c"> -->
      <div v-else
        v-for="c in courses"
        :key="c"
        :style="{backgroundColor: (selectedCourse === c ? '#ddd' : 'transparent')}"
        @click="selectedCourse = c"
      >
        <div>{{ c }}</div>
      </div>
    </div>
    <script src="vue.js"></script>
    <script>
      const app = new Vue({
        el: "#app",
        data() {
          return {
            title: "开课吧购物车",
            courses: [],
            selectedCourse: "",
            course: "",
          };
        },
        methods: {
          addCourse() {
            //添加course到数组
            this.courses.push(this.course);

            // 清空course
            this.course = "";
          },
        },
      });
      // app.title = '1111'
    </script>

    <style>
      .active {
        background-color: red;
      }
    </style>
  </body>
</html>
